<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>19/05/17 16:22:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002CreateLead@9838eb]">CreateLead</td> 
  <td>main@12624741</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/05/17 16:22:22</td>   <td>7943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002CreateLead@9838eb]">CreateLead</td> 
  <td>main@12624741</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/05/17 16:22:19</td>   <td>5122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.closeBrowser()[pri:0, instance:testcases.TC002CreateLead@9838eb]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@12624741</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>19/05/17 16:21:30</td>   <td>-44572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC002CreateLead@9838eb]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@12624741</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/05/17 16:21:27</td>   <td>-47483</td> <td>&nbsp;</td><td title="&gt;&gt;TC002CreateLead.setData()[pri:0, instance:testcases.TC002CreateLead@9838eb]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12624741</td>   <td></td> </tr>
</table>
